# Fichiers génériques à ignorer
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.cache
*.idea*
.vscode/
node_modules/
dist/

# Fichiers spécifiques à .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.vs/
*.nupkg
*ReSharper*
*resharper*
*Resharper*
*.rider*
_ReSharper.*/
[Tt]est[Rr]esult*
*.VisualState.xml
paket-files/
*.paket
*.dotCover
*.dll    # Ignore DLL files
*.exe    # Ignore executable files
*.pdb    # Ignore PDB debug information files

# Fichiers spécifiques à Quasar / Vue.js
/public/
/src-cordova/
/src-electron/
/src-pwa/
/.quasar/
/.history/

# Fichiers de configuration spécifiques
*.DS_Store
.env
.env.local
.env.*.local

# Autres fichiers/dossiers à considérer
# Ajoutez ici d'autres fichiers ou dossiers spécifiques à votre projet
